// Home
.page__home
    .hero
        .content
            .hero-text
                width: columns(10)
            figure
                @include media-breakpoint-up(desktop)
                    width: columns(10)

// toc
.document-content
    @include media-breakpoint-up(desktop)
        > .toc-cta
            html:not(.is-scrolling-down) &
                transform: translateY(calc(var(--header-height) + var(--grid-gutter)))